<p id="notice"><%= notice %></p>

<p>
  <b>Food item:</b>
  <%= @food_item.food_item %>
</p>

<p>
  <b>Picture:</b>
  <%= @food_item.picture %>
</p>

<p>
  <b>Food family:</b>
  <%= @food_item.food_family_id %>
</p>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
